body{
    background-color: rgb(171, 26, 200);
    color: black;
}
h1{

    color: rgb(255, 0, 8);
    text-align: center;
text-decoration: dashed;
background-color: rgb(46, 184, 120);
height: 200PX;
}
img{
    height: 400px;
    width: 600px;
    border: 5px solid;
    
}
ul{
    color: aquamarine;
}
textarea{
    color: green;
    font-weight: 300;
    font-style: italic;
    font-size: larger;
}
a{
   text-align: center; 
   text-decoration: none;
   background-color: rgb(255, 0, 8);
}